ProgettoFinaleRobertoCastro/src/main/resources/static/Assignement2/XML/maintainer_status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Maintainers" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Maintainer" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ID" minOccurs="1" maxOccurs="1" type="xs:string"/>
                            <xs:element name="Nome" minOccurs="1" type="xs:string"/>
                            <xs:element name="Cognome" minOccurs="1" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>